[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
boto3 = "*"
gunicorn = "==20.1.0"
waitress = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"
flask-socketio = "*"
eventlet = "*"
marshmallow-sqlalchemy = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "*"

[scripts]
dev = "flask run"
start = "gunicorn app:app"
waitress = "waitress-serve --host 127.0.0.1:5000 app:app"
test = "python -m pytest"
coverage = "python -m pytest --cov=app tests"
