[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "==20.1.0"
eventlet = "==0.30.2"
waitress = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"
flask-socketio = "*"


[dev-packages]

[requires]
python_version = "*"

[scripts]
dev = "flask run"
start = "gunicorn app:app"
waitress = "waitress-serve --host 127.0.0.1:5000 app:app"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
