header {
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header p {
    margin-top: 0px;
    flex-grow: 2;
}

header img {
    max-width: 200px;
    
}
